<ngx-spinner></ngx-spinner>

<nb-card>
    <nb-card-header class="text-center" style="font-size: x-large;">
        User Profile
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-8">
                <div class="up-events">
                    <p>User</p>
                    <div>
                        <div class="col-md-12">
                            <div class="content">
                                <div class="card col-md-12">
                                    <div class="firstinfo"><img [src]="UserProfileUrl" />
                                        <div class=" profileinfo">
                                            <h1>{{UserName}}</h1>
                                            <div>{{DName}}</div>
                                            <div>{{MailId}}</div>
                                            <div>{{MobileNo}}</div>
                                            <span>{{City}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="up-events">
                    <p style="margin:0px;" >Leader</p>
                    <div class="firstinfo"><img [src]="PUserProfileUrl" style="height: 120px;width: 120px;margin-top: 10px;" />
                        <div class=" profileinfo" style="font-size: small;">
                            <h1 style="margin-bottom: 2px;">{{PUserName}}</h1>
                            <div>{{PDName}}</div>
                            <div>{{PMailId}}</div>
                            <div>{{PMobileNo}}</div>
                            <span>{{PCity}}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" fullWidth nbButton outline shape="round" status="primary" (click)="UserEditProfilePopupOpen()" >
                        <i class="fa fa-edit" style="font-size:16px"> Edit Profile </i>  </button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>


<!-- <div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <div class="text-center" style="font-size: larger;">
                    User Profile
                </div>
            </nb-card-header>
            <nb-card-body style="padding: 10px 2px;">
                <div class="col-md-12">
                    <div class="content">
                        <div class="card col-md-12">
                            <div class="firstinfo"><img src="https://i.ibb.co/P97BxG9/person-1.png" />
                                <div class=" profileinfo">
                                    <h1>{{UserName}}</h1>
                                    <div>{{DName}}</div>
                                    <div>{{MailId}}</div>
                                    <div>{{MobileNo}}</div>
                                    <span>{{City}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <div class="text-center" style="font-size: larger;">
                    Leader Profile
                </div>
            </nb-card-header>
            <nb-card-body style="padding: 10px 2px;">
                <div class=" col-md-12">
                    <div class="content">
                        <div class="card col-md-12">
                            <div class="firstinfo"><img src="https://i.ibb.co/P97BxG9/person-1.png" />
                                <div class=" profileinfo">
                                    <h1>{{PUserName}}</h1>
                                    <div>{{PDName}}</div>
                                    <div>{{PMailId}}</div>
                                    <div>{{PMobileNo}}</div>
                                    <span>{{PCity}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div> -->

<!-- <nb-card>
    <nb-card-header>
        <div class="text-center" style="font-size: larger;">
            User Profile
        </div>
    </nb-card-header>
    <nb-card-body style="padding: 10px 2px;">

        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <div class="card col-md-12">
                        <div class="firstinfo"><img src="https://i.ibb.co/P97BxG9/person-1.png" />
                            <div class=" profileinfo">
                                <h1>Sagar</h1>
                                <div>Manager</div>
                                <div>Sagar@gmail.com</div>
                                <div>9658457812</div>
                                <span>Surat</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" col-md-6">

                <div class="content">
                    <div class="card col-md-12">
                        <div class="firstinfo"><img src="https://i.ibb.co/P97BxG9/person-1.png" />
                            <div class=" profileinfo">
                                <h1>Sagar</h1>
                                <div>Manager</div>
                                <div>Sagar@gmail.com</div>
                                <div>9658457812</div>
                                <span>Surat</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </nb-card-body>
</nb-card> -->

<nb-card style="margin-bottom: 5px;margin-top: 2px;border: 2px solid #e5ecee" *ngIf="UrlDisplayFlag" >
    <nb-card-header style="padding: 5px;">
        <div class="text-center" style="font-size: larger;">
            <a title="welcome joining our team"  (click)="openNewWindow(true)">
                {{UserUrl}}
            </a>
        </div>
    </nb-card-header>
</nb-card>

<nb-card style="margin-top: 15px;">
    <div>
        <section class="work-porcess-area section">
            <div class="container">


                <div class="process-info">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-process first text-center">
                                <i class="fas fa-award"></i>

                                <h5>UpComing Position</h5>
                                <h3>{{NDesignationName}}</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-process secend text-center">
                                <i class="fas fa-gem"></i>

                                <h5 style="color: #222b45;">Current Position</h5>
                                <h3 style="color: #222b45;">{{CDesignationName}}</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-process thard text-center">
                                <i class="fas fa-globe"></i>
                                <h5>Previous Position</h5>
                                <h3>{{PDesignationName}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</nb-card>

<nb-card>
    <nb-card-header>
        <div class="col-md-12 text-center" style="font-size: larger;">
            PROGRESS CHART
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row col-md-12">
            <div class="col-md-4">
                <nb-card style="height: 260px;">
                    <nb-card-header class="text-center" style="font-size: larger;padding: 6px;">
                        YOUR SELL
                    </nb-card-header>
                    <nb-card-body>
                        <div style="
                        font-size: xxx-large;
                        margin: 7% 32%;
                        padding: 12px;
                        border-radius: 27px;
                      ">
                            20%
                        </div>
                        <div class="form-group">
                            <button type="submit" fullWidth nbButton outline shape="round" status="primary">Current
                                Month</button>
                        </div>
                    </nb-card-body>
                    <nb-card-footer class="text-center" style="font-size: medium;padding: 6px;">
                        SEE PREVIOUS
                    </nb-card-footer>
                </nb-card>
            </div>

            <div class="col-md-4">
                <nb-card style="height: 260px;">
                    <nb-card-header class="text-center" style="font-size: medium; ">
                        LEADS
                    </nb-card-header>
                    <nb-card-body style="overflow-y: hidden;">
                        <div class="form-group">
                            <button type="submit" fullWidth nbButton outline (click)="LeadUserDetail('ThisMonth')"
                                shape="round" status="primary">This
                                Month</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" fullWidth nbButton outline shape="round"
                                (click)="LeadUserDetail('PreviousMonth')" status="success">Previous
                                Month</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" fullWidth nbButton outline shape="round"
                                (click)="LeadUserDetail('TillNow')" status="warning">Till
                                Now</button>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="col-md-4">
                <nb-card style="height: 260px;">
                    <nb-card-body style="
                        overflow-y: hidden;
                        padding: 13% 12%;
                        font-size: x-large;
                        line-height: 2.50rem;
                        ">
                        You Need
                        <span style="font-size: larger;
                        font-weight: bolder;
                        color: #f02248;">
                            {{NeedSell}}</span>
                        Sell For Next Position
                        <span style="font-size: larger;
                        font-weight: bolder;
                        color: #f02248;">{{NDesignationName}}</span>


                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>