
  .polar{
    background:#222b455c;
    padding:1rem;
    box-shadow: 0 0.5rem 1rem gray;
    
  }
  .polar img{
    max-width:100%;
    height:auto;
    
  }
  .container{
    margin-left: 35px;
    margin-bottom: 20px;
  }
  .caption{
   font-size:1rem;
    text-align:center;
    line-height:1.5em;
  }
  .contents{
    width:30%;
    display:inline-block;
    margin-top:2rem;
    filter:grayscale(100%);
    
  }
  .contents .polar:before{
    content:'';
    position:absolute;
    z-index:-1;
    transtion:all 0.30s;
    
  }
  
  div.one{ transform: rotate(10deg);}
  div.two{
     transform: rotate(-10deg);
  }
  div.three{
     transform: rotate(10deg);
  }
  .contents:hover{
    filter:grayscale(0%);
     transform: rotate(0);
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
  
  }
  /***************************************************************************************************/


.container1 {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 30px #2C243F;
}

.card {
    height: 320px;
    width: 100%;
    text-align: left;
    padding: 50px 40px;
}

.card small {
    color: rgba(255, 255, 255, .7);
    font-weight: 700;
}

.card h1 {
    margin: 10px 0px 20px;
}

.card p {
    line-height: 22px;
    width: 210px;
    height: 70px;
}

.card div {
    margin-top: 25px;
}

.card div a {
    color: #fff;
    text-decoration: none;
}

.card div a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
}

.card div a i {
    padding-left: 5px;
    color: #fff;
}

/* Cards colors */
.blue {
    background-color: #8d7DFE;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.purple {
    background-color: #C67AFF;
}

.pink {
    background-color: #FF73BC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Media queries */
@media screen and (max-width: 375px) {
    .container1 {
        width: 90%;
        margin: 20px auto;

        display: flex;
        flex-direction: column;
    }

    .blue {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .pink {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 0;
    }
}


/********************************************************************************************************/


  .container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
    .box {
      width: 32vh;
      height: 300px;
      position: relative;
      display: flex;
      margin: 40px;
  
      &:hover {
        .imgBx {
          transform: translate(0, -35px);
        }
  
        .content {
          transform: translate(0, 35px);
        }
      }
    }
  
    .imgBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out;
      z-index: 2;
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
        z-index: 2;
        object-fit: cover;
      }
    }
  
    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out;
      background: #fff;
      z-index: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 15px;
  
      h2 {
        font-size: 20px;
        color: #111;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
  
        span {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
    .box:hover {
      .imgBx {
        transform: translate(35px, -35px) !important;
      }
      .content {
        transform: translate(-35px, 35px) !important;
      }
    }
  }
  

  /******************************************************************************************************************/

  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


section {
  display: grid;
  grid-gap: 0;
  //grid-template-columns: 1fr 1fr;
  //grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main main"
    "event event";
 // background-image: url(https://s3.ca-central-1.amazonaws.com/image-web-frankie/Music+show.jpg);
  background-size: cover;
  background-position: center;
  //min-height: 100vh;
}

@media (min-width: 1200px) {
  section {
    grid-template-areas:
      "main event"
      "main event";
  }
}

section .events {
 // grid-area: event;
 // background-color: rgba(0, 0, 0, 0.5);
 // box-sizing: border-box;
}

section .events ul {
  margin: 0;
  padding: 5px;
  list-style: none;
}

section .events ul li {
  background-color: #fff;
  box-sizing: border-box;
  display: grid;
  //grid-template-columns: 30% 1fr;
  //grid-template-rows: 1fr;
  grid-gap: 0;
  grid-template-areas:
    "time time"
    "detail detail";
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  section .events ul li {
    grid-template-areas:
      "time detail"
      "time detail";
  }
}

section .events ul li .time {
  grid-area: time;
  position: relative;
  padding: 30px;
  background-color: #161a30;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

// section .events ul li:hover .time {
//   background-color: #222b45;
// }

section .events ul li .time h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}

section .events ul li .time h2 span {
  font-size: 30px;
}

section .events ul li .details {
  grid-area: detail;
  padding: 20px 20px 32px;
  background-color: #fff;
  color: #161a30;
  box-sizing: border-box;
}

section .events ul li .details h3 {
  margin: 0;
  padding: 0;
  color: #161a30;
  font-size: 22px;
}

section .events ul li .details p {
  margin: 10px 0 0;
  padding: 0;
  color: #161a30;
  font-size: 16px;
}

section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #262626;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
}

section .events ul li .details a:hover {
  background-color: #222b45;
  color: #fff;
  border-color: #fff;
}


/****************************************************************************************************************************/

// body {
//   font-family: tahoma;
//   height: 100vh;
//   background-image: url(https://picsum.photos/g/3000/2000);
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   align-items: center;
// }

.our-team {
  padding: 6px 0 0px;
  margin-bottom: 15px;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  position: relative;
  //box-shadow: inset 0px 10px 20px #fffefe4f;
}

.our-team .picture {
  display: inline-block;
  //height: 130px;
  width: 130px;
  margin-bottom: 8px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #161a30;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #161a30;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #161a30;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #161a30;
  background-color: #f7f5ec;
}


/***********************************************************************************************************/
  #gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  @media (max-width:1200px){
    #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:800px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }


  }


  @media (max-width:600px){
    #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }
  
  }
  .card1{
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .modal-img,.model-vid{
    width:100%;
    height:auto;
  }
  .modal-body{
    padding:0px;
  }

  /*************************************************************************/
 .Count{
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  font-weight: bolder;
  color: #fa0;
 }


// Start Responsive Iframe
 .embed-responsive-16by9::before {
  padding-top: 42.25%;
}
// End Responsive Iframe

// LEADERSHIP table 
.table th, .table td {
  border-top: none !important;
}
// LEADERSHIP table 


// achievement
.achievement{
  border: 2px solid #fa0;
  text-align: center;
  padding: 20px;
  width: 200px;
  margin: 10px;
  transition-duration: 0.15s;
  transition-property: background-color, border-color, box-shadow, color;
  transition-timing-function: ease-in;
  cursor: pointer; ;
}
.achievement:hover{
  background:rgba(255, 170, 0, 0.24)
}
.achievement i{
  font-size: 18px;
  color: #fafafa;
}
.achievement p{
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
  color: #fa0;
}
.achievement span{
  color: #fafafa;
}