<ngx-spinner></ngx-spinner>
<nb-card>
    <nb-card-header class="text-center" style="font-size: x-large;">
        Category Master
    </nb-card-header>
    <nb-card-body>
        <div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label class="label">Name</label>
                        <input type="text" [(ngModel)]="CName" nbInput fullWidth id="CName" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label class="label">Short Name</label>
                        <input type="text" [(ngModel)]="CShortName" nbInput fullWidth id="CShortName"
                            placeholder="Short Name">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label class="label">Remark</label>
                        <input type="text" [(ngModel)]="Remark" nbInput fullWidth id="Remark" placeholder="Remark">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <button type="submit" fullWidth nbButton outline (click)="SaveData()"
                                status="success">Add</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit"  fullWidth nbButton outline (click)="Cancle()"
                                status="danger">Cancle</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-body>
        <!-- (editConfirm)="onUpdateConfirm($event)"
            (deleteConfirm)="onDeleteConfirm($event)" -->
        <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onUpdateConfirm($event)" >
        </ng2-smart-table>
    </nb-card-body>
</nb-card>