<nb-card>
    <!-- <nb-card-header class="text-center" style="font-size: x-large;">
       {{PageName}} Gallary
    </nb-card-header> -->
    <nb-card-header class="text-center" style="font-size: x-large;position: relative;" (click)="Back()">
        <b>{{PageName}} Gallary</b>
        <span class="headerSpan"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    </nb-card-header>
    <nb-card-body>
        <div>
            <div id="gallery"  class="container-fluid" >
                <div   *ngFor="let item of ArrayGallaryData" >
                    <img src="{{item.Path}}"  class="card img-responsive">
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>