::ng-deep .nb-theme-dark ng2-smart-table .ng2-smart-actions a.ng2-smart-action:not(:last-child){
    color: green  !important;
}

::ng-deep .nb-theme-dark ng2-smart-table .ng2-smart-actions a.ng2-smart-action{
    color: red  !important;
}

::ng-deep .ng2-smart-action-add-add  {
    display: none !important;
    }
    
//    ng2-smart-action ng2-smart-action-add-add ng-star-inserted