<ngx-spinner></ngx-spinner>


<div class="row">
    <div class="col-md-6">

        <nb-card>
            <nb-card-header class="text-center" style="font-size: x-large;">
                Gallary Master
            </nb-card-header>
            <nb-card-body>
                <div>
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <div class="form-group">
                                <label class="label">Image Upload</label>
                                <input type="file" #myInput  nbInput fullWidth (change)="upload($event)"
                                     id="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label">&nbsp;</label>
                                <button type="submit" fullWidth nbButton outline (click)="AddImage('GALLARY')"
                                    status="success">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="gallery" class="container-fluid">
                            <div *ngFor="let item of ArrayGallaryData">
                                <img src="{{item.Path}}" (click)="DeleteData(item.Id,'GALLARY')" class="card img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-6">
        <nb-card>
            <nb-card-header class="text-center" style="font-size: x-large;">
                Recent Event Master
            </nb-card-header>
            <nb-card-body>
                <div>
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <div class="form-group">
                                <label class="label">Image Upload</label>
                                <input type="file" #myInput  nbInput fullWidth (change)="upload($event)"
                                     id="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label">&nbsp;</label>
                                <button type="submit" fullWidth nbButton outline (click)="AddImage('RECENT_EVENT')"
                                    status="success">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="gallery" class="container-fluid">
                            <div *ngFor="let item of ArrayRecentEventData">
                                <img src="{{item.Path}}" (click)="DeleteData(item.Id,'RECENT_EVENT')"
                                    class="card img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>