<nb-card>
    <nb-card-header>
        <div class="text-center" style="font-size: larger;" >
            Under Development
        </div>
    </nb-card-header>
</nb-card>
    
    <!-- <section id="pricing-tables">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h3>basic</h3>
                        <p>plan for basic user</p>
                        <h4 class="plan-price">$30<span>/month</span></h4>
                    </div>


                    <ul class="plan-features">
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                    </ul>
                    <a href="#" class="plan-submit hvr-bounce-to-right" (click)="PackageButtonClick(1)" >buy now</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h3>basic</h3>
                        <p>plan for basic user</p>
                        <h4 class="plan-price">$30<span>/month</span></h4>
                    </div>


                    <ul class="plan-features">
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                    </ul>
                    <a href="#" class="plan-submit hvr-bounce-to-right">buy now</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h3>basic</h3>
                        <p>plan for basic user</p>
                        <h4 class="plan-price">$30<span>/month</span></h4>
                    </div>


                    <ul class="plan-features">
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                    </ul>
                    <a href="#" class="plan-submit hvr-bounce-to-right">buy now</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h3>basic</h3>
                        <p>plan for basic user</p>
                        <h4 class="plan-price">$30<span>/month</span></h4>
                    </div>


                    <ul class="plan-features">
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                        <li>10 Free PSD files</li>
                    </ul>
                    <a href="#" class="plan-submit hvr-bounce-to-right">buy now</a>
                </div>
            </div>
        </div>
</section> -->
